body,
html {
    background: url(./img/bg01.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    padding: 50px;
    position: relative;
    width: 400px;
    margin: auto;
    overflow: hidden;
    background: url(./img/wood_bg.jpg);
    border-color: rgb(167, 101, 14);
    border-width: 10px;
    border-style: ridge;
    border-radius: 5px;
    height: 80vh;
    text-align: center;
}

.container a {
    display: block;
    text-decoration: none;
    color: #efefef;
    font-size: 2rem;
    padding: 25px 40px;
    margin-bottom: 40px;
    background-color: #282A3A;
}

.nav {
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #ca53c2;
    font-family: 'Lobster', cursive;
    font-size: 56px;
}

.instructions {
    text-align: center;
    margin-top: 10px;
}